@import "null.css";
/* &display=swap */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #424551;
  text-align: left;
  line-height: 1.62;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 840px;
  padding: 100px 15px;
  margin: 0 auto;
}

.recruiting {
  margin-bottom: 100px;
}

.name {
  margin-bottom: 26px;
  font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
}

.date-time {
  margin-bottom: 40px;
  color: #787a80;
}

.date {
  display: inline-block;
  margin-right: 24px;
  padding-left: 24px;
  background: url("../img/calendar.png") 0 5px / 16px no-repeat;
}

.time {
  display: inline-block;
  padding-left: 24px;
  background: url("../img/clock.png") 0 5px / 16px no-repeat;
}

.photo {
  margin-bottom: 60px;
}

.preamble {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.name,
.preamble,
.cite {
  color: #1e212c;
}

.text {
  margin-bottom: 27px;
}

.info-item {
  margin-bottom: 4px;
  padding-left: 32px;
  background: url("../img/check.svg") 0 5px no-repeat;
}

.cite {
  margin-top: 48px;
  margin-bottom: 48px;
  padding-left: 58px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  background: url("../img/braces.svg") 0 0 no-repeat;
}

.features {
  margin-bottom: 24px;
}

.create {
  max-width: 390px;
  margin: 0 auto;
  text-align: left;
}
.who {
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: #1e212c;
}
.title {
  margin-bottom: 40px;
  font-size: 46px;
  line-height: 1.3;
  font-weight: 900;
  text-transform: capitalize;
  color: #1e212c;
}
.list {
  margin-bottom: 22px;
  color: #424551;
}

.list-item {
  padding-left: 32px;
  background: url("../img/check.svg") 0 5px no-repeat;
}

.list-item:not(:last-child) {
  margin-bottom: 12px;
}
.create-button {
  border-radius: 4px;
}
.button {
  display: inline-block;
  min-height: 44px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 14px;
  font-weight: 700;
  line-height: 3.14;
  color: #fff;
  background: linear-gradient(180deg, rgba(255, 63, 58, 1) 0%, rgba(247, 94, 5, 1) 100%);
  border-radius: 4px;
}
